<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="item in letters">{{item}}</li>
    </ul>
    <!--    app.letters.splice(2,0,'F')  插入一个F  那再中间插入数字，如何效率更高，有个DIFF算法，对比虚拟DOM和dom的不同 -->
    <!--    不加key ,会按照性能低的插入，如果加个key就可以提高性能-->
    <ul>
        <!--        key不是随便写的，如果是index，不是一一对应的，要用item，插入后不变才能对应-->
        <li v-for="item in letters" :key="item">{{item}}</li>
    </ul>

</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: 'hello',
            letters: ['A', 'B', 'C', 'D', 'E']
        }
    })
</script>
</body>
</html>